streamlit==1.45.1
pandas==2.3.0
numpy==2.3.0
scikit-learn==1.7.0
joblib==1.5.1
gdown==5.2.0
requests==2.32.3
deep-translator==1.11.4
langdetect==1.0.9
googletrans==4.0.0-rc1
streamlit-option-menu==0.3.2
nltk==3.8.1